@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>FIZZ BUZZ GAME</b></h1>
    <hr/>
    <form method="post" action="Home/submitHandler" class="userNumber">
        <label for="number">Enter your number: <label/>
        <input class="input-sm" id="number" name="number" type = "text" placeholder ="Number"/>
        <button id="submit" class="btn-sm btn-warning" type = "submmit">Submit</button>
    </form>
    <br>
  
</div>
